In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import load_model
from tensorflow.keras.optimizers import Adam
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import MinMaxScaler
import sklearn as skl
import pandas as pd
import numpy as np
import tensorflow as tf
import keras_tuner as kt
from pathlib import Path

WARNING:tensorflow:From C:\Users\mh30f\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
# rain data path
file_path = '../../Resources/raindata.csv'

# Read CSV and convert to rain_df
rain_df=pd.read_csv(file_path)

# Drop NA value from dataframe
rain_df.dropna(subset=['Year', 'Month', 'Day','stationCode','stationName','rainfall','relativeHumidity','airTemperature_avg','wind_avg_speed'], inplace=True)


rain_df

,Year,Month,Day,stationCode,stationName,rainfall,relativeHumidity,airTemperature_avg,wind_avg_speed
0,2023.0,1.0,1.0,AN001,Allanooka,0.0,66.1,21.0,17.93
1,2023.0,1.0,2.0,AN001,Allanooka,0.0,52.2,25.2,16.49
2,2023.0,1.0,3.0,AN001,Allanooka,0.0,19.1,32.2,24.77
3,2023.0,1.0,4.0,AN001,Allanooka,0.0,22.9,32.1,21.67
4,2023.0,1.0,5.0,AN001,Allanooka,0.0,17.8,33.3,18.12
...,...,...,...,...,...,...,...,...,...
47384,2023.0,8.0,9.0,YU002,Yuna NE,0.2,74.2,14.2,5.72
47385,2023.0,8.0,10.0,YU002,Yuna NE,0.0,72.1,14.8,5.71
47386,2023.0,8.0,11.0,YU002,Yuna NE,0.0,72.8,16.8,6.62
47387,2023.0,8.0,12.0,YU002,Yuna NE,0.0,75.7,15.9,7.51
47388,2023.0,8.0,13.0,YU002,Yuna NE,0.0,77.4,14.6,8.47

In [3]:
# Split our preprocessed data into our features and target arrays
y = rain_df["rainfall"].values

# X = rain_df.drop(["rainfall","stationName"],axis=1).values
X = rain_df.drop(["rainfall","stationName"],axis=1)

X

,Year,Month,Day,stationCode,relativeHumidity,airTemperature_avg,wind_avg_speed
0,2023.0,1.0,1.0,AN001,66.1,21.0,17.93
1,2023.0,1.0,2.0,AN001,52.2,25.2,16.49
2,2023.0,1.0,3.0,AN001,19.1,32.2,24.77
3,2023.0,1.0,4.0,AN001,22.9,32.1,21.67
4,2023.0,1.0,5.0,AN001,17.8,33.3,18.12
...,...,...,...,...,...,...,...
47384,2023.0,8.0,9.0,YU002,74.2,14.2,5.72
47385,2023.0,8.0,10.0,YU002,72.1,14.8,5.71
47386,2023.0,8.0,11.0,YU002,72.8,16.8,6.62
47387,2023.0,8.0,12.0,YU002,75.7,15.9,7.51
47388,2023.0,8.0,13.0,YU002,77.4,14.6,8.47

In [4]:
# Encode the categorical variables using get_dummies
X = pd.get_dummies(X)
X

,Year,Month,Day,relativeHumidity,airTemperature_avg,wind_avg_speed,stationCode_AM001,stationCode_AN001,stationCode_BA,stationCode_BB001,...,stationCode_WN,stationCode_WO001,stationCode_WR,stationCode_WR001,stationCode_WS001,stationCode_WT001,stationCode_YE001,stationCode_YS,stationCode_YU001,stationCode_YU002
0,2023.0,1.0,1.0,66.1,21.0,17.93,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2023.0,1.0,2.0,52.2,25.2,16.49,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2023.0,1.0,3.0,19.1,32.2,24.77,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2023.0,1.0,4.0,22.9,32.1,21.67,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2023.0,1.0,5.0,17.8,33.3,18.12,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47384,2023.0,8.0,9.0,74.2,14.2,5.72,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
47385,2023.0,8.0,10.0,72.1,14.8,5.71,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
47386,2023.0,8.0,11.0,72.8,16.8,6.62,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
47387,2023.0,8.0,12.0,75.7,15.9,7.51,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
47388,2023.0,8.0,13.0,77.4,14.6,8.47,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [5]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [6]:
# Create a StandardScaler instances
scaler =StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
# Create a MinMaxScaler instance
scaler_y = MinMaxScaler()

# Reshape y_train and y_test if necessary (scaler expects 2D array)
y_train_reshaped = y_train.reshape(-1, 1)
y_test_reshaped = y_test.reshape(-1, 1)

# Fit the scaler on the training data and transform both training and testing data
y_train_scaled = scaler_y.fit_transform(y_train_reshaped)
y_test_scaled = scaler_y.transform(y_test_reshaped)

# If you reshaped y_train and y_test, you might want to flatten them back
y_train_scaled = y_train_scaled.flatten()
y_test_scaled = y_test_scaled.flatten()

In [ ]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation', ['relu', 'tanh', 'sigmoid'])
    
    # Allow kerastuner to decide number of neurons in the first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=30,
        step=2), activation=activation, input_dim=len(X_train_scaled[0])))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 20)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=30,
            step=2),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
    
    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [ ]:
# Initialize the Keras Tuner
tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=2)

In [ ]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train_scaled,epochs=50,validation_data=(X_test_scaled,y_test_scaled))

In [ ]:
# Get best model hyperparameters
best_hyper = tuner.get_best_hyperparameters(1)[0]
# Build the model with the best hyperparameters and train it on the data
model = tuner.hypermodel.build(best_hyper)
# Display the summary of the best model
model.summary()

In [ ]:
# Fit the model to the training data
model.fit(
    X_train_scaled,   # Features of the training set (scaled)
    y_train_scaled,    # Target values of the training set
    epochs=100        # Number of training epochs (iterations over the entire training dataset)
)

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = model.evaluate(X_test_scaled, y_test_scaled, verbose=2)

# Print the evaluation results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
# Make predictions on the test set
Rain_test_perdict = model.predict(X_test_scaled)

# Print the predictions
Rain_test_perdict

In [ ]:
Rain_train_predict = model.predict(X_train_scaled)
Rain_train_predict